{% extends 'template.html' %}
{% block content %}
<div id="section">


<form method="post" enctype="multipart/form-data">{% csrf_token %}
    Editing: {{report.title}}
    <p>
    Title:
    <input type="text" name="title"/><br>
    Folder:
    <input type="text" name="folder"/><br>
    <input type="checkbox" name="move">check to move, uncheck to copy<br>
         Location: <input type="text" name="location"/><br>
    Short Description:<br>
    <textarea name="shortdescription" cols="40" rows="1" ... ></textarea>
    <br>

    Long Description: <br>

    <textarea name="longdescription" cols="40" rows="5" ... ></textarea>
    </p>

    Tags:
    <input type="text" name="tags"/><br>
    
    Encryption Key:
    <input type="text" name="enckey"/><br>
    <input type="submit" name="submit" value="Submit" />
</form></div>
{% endblock content %}