{% extends 'template.html' %}
{% block content %}


<div id="section">
<h2>Groups and Members</h2>





<p>

Unbanned Users<br>
{% for user in goodusers %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}

<input type="submit" name='suspend' Value='Suspend {{user.username}}'/>
</form>
{% endfor %}

Banned Users<br>
{% for user in badusers %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}

<input type="submit" name='unsuspend' Value='Unsuspend {{user.username}}'/>
</form>
{% endfor %}






</table>
</p>

</br>

{% endblock content %}

