<!DOCTYPE html>
<html>
<head>
<style>
div {
    background-color: MediumSpringGreen;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
</style>
</head>
<body>
<h1>Welcome to SecureWitness</h1>
<h2>Login Bruh</h2>
<div>
<form action="/my_view/" method="post">{% csrf_token %}
Username: <input type="text" name="username" ><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Submit">
</div>
<p>Secure witness is the most secure file encryption service you will ever use. Share your files with your friends without the fear of people peeking at your files</p>
</form>

<a href="{% url "register" %}">Register</a>

</body>
</html>