<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>Secure Witness</h1>
</div>

<div id="nav">
<form action="ReaderHomepage.html">
<button type="Home">Home</button>
</form>
<form action="{% url "adminHome" %}">
<button type="Admin">Manage Groups</button>
</form>
<form action="{% url "reporterHome" %}">
<button type="Reporter">Add Files</button>
</form>
<form action="{% url "Home" %}">
<button type="Reader">Read Files</button>
</form>
</div>

<div id="section">
<h2>Welcome to SecureWitness {{firstname}}!</h2>
<p>
Readers can download reports to read articles in which the access is granted to using their given key.
</p>
<p>
Admin can give other users administrative privileges or access to private lists of reports. Admin cannot, however, view a reporter's private reports
</p>
</br>
</br>
<a href = "{% url "logout" %}">Log Out</a>

</div>

<div id="footer">
Developed by Joseph Baik
</div>

</body>
</html>
