<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>Secure Witness</h1>
</div>

<div id="nav">
<button type="Home">Home</button>
<button type="Admin">Bulletin1</button>
<button type="Reporter">Bulletin2</button>
<button type="Reader" href="files">Bulletin3</button>
</div>

<div id="section">
<h2>Reader</h2>
<p>
Readers can download reports to read articles in which the access is granted to using their given key.
</p>
<p>
This is a demo menu of what an a reader's site would look like, with lists of bulletins to download different reports from

href</p>

</div>

<div id="footer">
Developed by Joseph Baik
</div>

</body>
</html>
