<!DOCTYPE html>
<html>
<body>
<h1>Register</h1>
<form action="/addUser/" method="post">{% csrf_token %}
Username: <input type="text" name="username"><br>
Email: <input type="text" name="email"><br>
Password: <input type="password" name="password"><br>
Confirm Password:<input type="password" name="confirmpassword"><br>
<input type="submit" value="Register">
</form>
{% if badpass %} 
<p>Passwords don't match!</p>
{% endif %}
{% if bademail %} 
<p>Email is bad!</p>
{% endif %}

<a href="{% url "homepage" %}">Return</a>

</body>
</html>