{% extends 'template.html' %}
{% block content %}

<div id="section">

<p>Groups that you're in: </p>


{% if groups_that_user_is_in %}
	<ul>
{% for group in groups_that_user_is_in %}
<li>{{group.name}}</li>
{% endfor %}
</ul>

{% endif %}

<form action="/shareReport/" method="post">{% csrf_token %}
Report Name: <input type="text" name="report"><br>

Group To Share with (Blank if none): <input type="text" name="group"><br>

User To Share with (Blank if none): <input type="text" name="user"><br>
</br>
<input type="submit" value="Register">
</form>




</br>

</div>
{% endblock content %}
