<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>Secure Witness</h1>
</div>

<div id="nav">
<button type="Home">Home</button>
<button type="Admin">Admin</button>
<button type="Reporter">Reporter</button>
<button type="Reader">Reader</button>
</div>

<div id="section">
<h2>Admin</h2>
<p>
Admin can give other users administrative privileges or access to private lists of reports. Admin cannot, however, view a reporter's private reports
</p>
<p>
This is a demo menu of what an admin's site would look like, with lists of users for other admins, reporters, and readers.
</p>
</div>

<div id="footer">
Developed by Joseph Baik
</div>

</body>
</html>
