{% extends 'template.html' %}
{% block content %}
<div id="section">
<h2>Welcome to SecureWitness {{firstname}}!</h2>




<form action = "/searchForReports/" class="form-inline" id="user_form" method="post">

     {% csrf_token %}
     <!-- Display the search form elements here -->


     <input class="form-control" type="text" size="50" name="query" value="{{query}}" id="query" />

<p>Tag Search: <input class="form-control" type="text" size="50" name="tags" value="{{tags}}" id="tags" /> </p>


        <input type="checkbox" name="today">today<br>
         <input type="checkbox" name="last5" />last 5 days<br>

        <input type="checkbox" name="last10">last 10 days<br>
         <input type="checkbox" name="lastmonth" />last month<br>
	<input type="checkbox" name="forever" />forever<br>



     <input class="btn btn-primary" type="submit" name="submit" value="Search" />


</form>





<p>

{% for report in reports %}
    
    
<a href = "{% url 'Report' report.reportID %}">{{report.title}}</a><br>

{% endfor %}
{% endblock content %}
